@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtraLight.woff2') format('woff2'),
        url('web/BertiogaSans-ExtraLight.woff') format('woff'),
        url('ttf/BertiogaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Light.woff2') format('woff2'),
        url('web/BertiogaSans-Light.woff') format('woff'),
        url('ttf/BertiogaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Regular.woff2') format('woff2'),
        url('web/BertiogaSans-Regular.woff') format('woff'),
        url('ttf/BertiogaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Medium.woff2') format('woff2'),
        url('web/BertiogaSans-Medium.woff') format('woff'),
        url('ttf/BertiogaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemiBold.woff2') format('woff2'),
        url('web/BertiogaSans-SemiBold.woff') format('woff'),
        url('ttf/BertiogaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Bold.woff2') format('woff2'),
        url('web/BertiogaSans-Bold.woff') format('woff'),
        url('ttf/BertiogaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtraBold.woff2') format('woff2'),
        url('web/BertiogaSans-ExtraBold.woff') format('woff'),
        url('ttf/BertiogaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Black.woff2') format('woff2'),
        url('web/BertiogaSans-Black.woff') format('woff'),
        url('ttf/BertiogaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtraLightItalic.woff2') format('woff2'),
        url('web/BertiogaSans-ExtraLightItalic.woff') format('woff'),
        url('ttf/BertiogaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-LightItalic.woff2') format('woff2'),
        url('web/BertiogaSans-LightItalic.woff') format('woff'),
        url('ttf/BertiogaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-Italic.woff2') format('woff2'),
        url('web/BertiogaSans-Italic.woff') format('woff'),
        url('ttf/BertiogaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-MediumItalic.woff2') format('woff2'),
        url('web/BertiogaSans-MediumItalic.woff') format('woff'),
        url('ttf/BertiogaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemiBoldItalic.woff2') format('woff2'),
        url('web/BertiogaSans-SemiBoldItalic.woff') format('woff'),
        url('ttf/BertiogaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BoldItalic.woff2') format('woff2'),
        url('web/BertiogaSans-BoldItalic.woff') format('woff'),
        url('ttf/BertiogaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('web/BertiogaSans-ExtraBoldItalic.woff') format('woff'),
        url('ttf/BertiogaSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BlackItalic.woff2') format('woff2'),
        url('web/BertiogaSans-BlackItalic.woff') format('woff'),
        url('ttf/BertiogaSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
	font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtLtSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-ExtLtSemCond.woff') format('woff'),
	    url('ttf/BertiogaSans-ExtLtSemCond.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtLtSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-ExtLtSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-ExtLtSemCondIta.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-LightSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-LightSemCond.woff') format('woff'),
		url('ttf/BertiogaSans-LightSemCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-LightSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-LightSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-LightSemCondIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}@
font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemiCondensed.woff2') format('woff2'),
        url('web/BertiogaSans-SemiCondensed.woff') format('woff'),
	    url('ttf/BertiogaSans-SemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-SemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-SemCondIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-MedSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-MedSemCond.woff') format('woff'),
	    url('ttf/BertiogaSans-MedSemCond.ttf') format('truetype');
	font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-MedSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-MedSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-MedSemCondIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemBdSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-SemBdSemCond.woff') format('woff'),
	    url('ttf/BertiogaSans-SemBdSemCond.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-SemBdSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-SemBdSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-SemBdSemCondIta.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BoldSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-BoldSemCond.woff') format('woff'),
	    url('ttf/BertiogaSans-BoldSemCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BoldSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-BoldSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-BoldSemCondIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtBdSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-ExtBdSemCond.woff') format('woff'),
        url('ttf/BertiogaSans-ExtBdSemCond.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-ExtBdSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-ExtBdSemCondIta.woff') format('woff'),
        url('ttf/BertiogaSans-ExtBdSemCondIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BlackSemCond.woff2') format('woff2'),
        url('web/BertiogaSans-BlackSemCond.woff') format('woff'),
	    url('ttf/BertiogaSans-BlackSemCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-stretch: semi-condensed;
    font-display: swap;
}

@font-face {
    font-family: 'Bertioga Sans';
    src: url('web/BertiogaSans-BlackSemCondIta.woff2') format('woff2'),
        url('web/BertiogaSans-BlackSemCondIta.woff') format('woff'),
	    url('ttf/BertiogaSans-BlackSemCondIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-stretch: semi-condensed;
    font-display: swap;
}
