(
.notdef,
.null,
CR,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemotleft,
logicalnot,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
mu,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemotright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex,
gcircumflex,
Gbreve,
gbreve,
Gdotaccent,
gdotaccent,
Gcommaaccent,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
dotlessi,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute,
Lcommaaccent,
lcommaaccent,
Lcaron,
lcaron,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
napostrophe,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
longs,
bstroke,
Bhook,
Btopbar,
btopbar,
Tonesix,
tonesix,
Oopen,
Chook,
chook,
Dafrican,
Dhook,
Dtopbar,
dtopbar,
deltaturned,
Ereversed,
Schwa,
Eopen,
Fhook,
florin,
Ghook,
Gamma-lt,
hv,
Iotaafrican,
Istroke,
Khook,
khook,
lbar,
lambdastroke,
Mturned,
Nhookleft,
nlongrightleg,
Obar,
Ohorn,
ohorn,
Oi,
oi,
Phook,
phook,
yr,
Tonetwo,
tonetwo,
Esh,
eshreversedloop,
tpalatalhook,
Thook,
thook,
Tretroflexhook,
Uhorn,
uhorn,
Upsilonafrican,
Vhook,
Yhook,
yhook,
Zstroke,
zstroke,
Ezh,
Ezhreversed,
ezhreversed,
ezhtail,
twostroke,
Tonefive,
tonefive,
glottalinvertedstroke,
wynn,
clickdental,
clicklateral,
clickalveolar,
clickretroflex,
DZcaron,
Dzcaron,
dzcaron,
LJ,
Lj,
lj,
NJ,
Nj,
nj,
Acaron,
acaron,
Icaron,
icaron,
Ocaron,
ocaron,
Ucaron,
ucaron,
Udieresismacron,
udieresismacron,
Udieresisacute,
udieresisacute,
Udieresiscaron,
udieresiscaron,
Udieresisgrave,
udieresisgrave,
eturned,
Adieresismacron,
adieresismacron,
Adotmacron,
adotmacron,
AEmacron,
aemacron,
Gstroke,
gstroke,
Gcaron,
gcaron,
Kcaron,
kcaron,
Oogonek,
oogonek,
Oogonekmacron,
oogonekmacron,
Ezhcaron,
ezhcaron,
jcaron,
DZ,
Dz,
dz,
Gacute,
gacute,
Hwair,
Wynn,
Ngrave,
ngrave,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Adblgrave,
adblgrave,
Ainvertedbreve,
ainvertedbreve,
Edblgrave,
edblgrave,
Einvertedbreve,
einvertedbreve,
Idblgrave,
idblgrave,
Iinvertedbreve,
iinvertedbreve,
Odblgrave,
odblgrave,
Oinvertedbreve,
oinvertedbreve,
Rdblgrave,
rdblgrave,
Rinvertedbreve,
rinvertedbreve,
Udblgrave,
udblgrave,
Uinvertedbreve,
uinvertedbreve,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
Yogh,
yogh,
Hcaron,
hcaron,
Nlongrightleg,
dcurl,
Ou,
ou,
Zhook,
zhook,
Adotaccent,
adotaccent,
Ecedilla,
ecedilla,
Odieresismacron,
odieresismacron,
Otildemacron,
otildemacron,
Odotaccent,
odotaccent,
Odotaccentmacron,
odotaccentmacron,
Ymacron,
ymacron,
lcurl,
ncurl,
tcurl,
dotlessj,
dbdigraph,
qpdigraph,
Astroke,
Cstroke,
cstroke,
Lbar,
Tdiagonalstroke,
sswashtail,
zswashtail,
Glottalstop,
glottalstopsmall,
Bstroke,
Ubar,
Vturned,
Estroke,
estroke,
Jstroke,
jstroke,
Qsmallhooktail,
qhooktail,
Rstroke,
rstroke,
Ystroke,
ystroke,
aturned,
alpha-ipa,
alphaturned,
bhook,
oopen,
ccurl,
dtail,
dhook,
ereversed-ipa,
schwa,
schwahook,
eopen,
eopenreversed,
eopenreversedhook,
eopenreversedclosed,
dotlessjstroke,
ghook,
gscript-ipa,
Gsmall,
gamma-ipa,
ramshorn,
hturned,
hhook,
henghook,
istroke,
iota-ipa,
Ismall,
lmiddletilde,
lbelt,
lhookretroflex,
lezh,
mturned,
mlonglegturned,
mhook,
nhookleft,
nhookretroflex,
Nsmall,
obarred,
OEsmall,
omegaclosed,
phi-ipa,
rturned,
rlonglegturned,
rhookturned,
rlongleg,
rtail-ipa,
rfishhook,
rfishhookreversed,
Rsmall,
Rinvertedsmall,
shook,
esh,
dotlessjstrokehook,
eshsquatreversed,
eshcurl,
tturned,
tretroflexhook,
ubar,
upsilon-ipa,
vhook,
vturned,
wturned,
yturned,
Ysmall,
zretroflexhook,
zcurl,
ezh,
ezhcurl,
glottalstop,
pharyngealvoicedfricative,
glottalstopinverted,
Cstretched,
clickbilabial,
Bsmall,
eopenclosed,
Ghooksmall,
Hsmall,
jcrossedtail,
kturned,
Lsmall,
qhook,
glottalstopstroke,
glottalstopstrokereversed,
dzed,
dezh,
dzedcurl,
ts,
tesh,
tccurl,
feng,
ls,
lzed,
percussivebilabial,
percussivebidental,
hfishhookturned,
handtailfishhookturned,
hsupmod,
hhooksupmod,
jsupmod,
rsupmod,
rturnedsupmod,
rhookturnedsupmod,
Rsupinvertedmod,
wsupmod,
ysupmod,
primemod,
primedblmod,
commaturnedmod,
apostrophemod,
commareversedmod,
ringhalfrightmod,
ringhalfleftmod,
glottalstopmod,
glottalstopreversedmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
arrowheaddownmod,
circumflex,
caron,
verticallinemod,
macronmod,
acutemod,
gravemod,
verticallinelowmod,
macronlowmod,
gravelowmod,
acutelowmod,
colontriangularmod,
colontriangularhalfmod,
ringhalfrightcentredmod,
ringhalfleftcentredmod,
tackupmod,
tackdownmod,
plussignmod,
minussignmod,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
rhotichookmod,
crossmod,
gammasupmod,
lsupmod,
ssupmod,
xsupmod,
glottalstopsupreversedmod,
tonebarextrahighmod,
tonebarhighmod,
tonebarmidmod,
tonebarlowmod,
tonebarextralowmod,
yintonemod,
yangtonemod,
voicingmod,
unaspiratedmod,
apostrophedblmod,
arrowheaddownlowmod,
arrowheaduplowmod,
arrowheadleftlowmod,
arrowheadrightlowmod,
ringlowmod,
gravemiddlemod,
gravedblmiddlemod,
acutedblmiddlemod,
tildelowmod,
colonraisedmod,
tonehighbeginmod,
tonehighendmod,
tonelowbeginmod,
tonelowendmod,
shelfmod,
shelfopenmod,
arrowleftlowmod,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
overlinecomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
vlinecomb,
dblvlinecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commareversedabovecomb,
commaaboverightcomb,
gravebelowcomb,
acutebelowcomb,
lefttackbelowcomb,
righttackbelowcomb,
leftangleabovecomb,
horncomb,
ringhalfleftbelowcomb,
uptackbelowcomb,
downtackbelowcomb,
plusbelowcomb,
minusbelowcomb,
palatalhookcomb,
retroflexhookcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
vlinebelowcomb,
bridgebelowcomb,
dblarchinvertedbelowcomb,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
dbllowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
ringhalfrightbelowcomb,
bridgeinvertedbelowcomb,
squarebelowcomb,
seagullbelowcomb,
xabovecomb,
tildeverticalcomb,
dbloverlinecomb,
gravetonecomb,
acutetonecomb,
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
iotasubcomb,
bridgecomb,
equalbelowcomb,
dblvlinebelowcomb,
leftanglebelowcomb,
nottildeabovecomb,
homotheticabovecomb,
almostequaltoabovecomb,
arrowleftrightbelowcomb,
arrowupbelowcomb,
graphemejoinercomb,
arrowheadrightabovecomb,
lefthalfringabovecomb,
fermatacomb,
xbelowcomb,
arrowheadleftbelowcomb,
arrowheadrightbelowcomb,
arrowheadrightheadupbelowcomb,
righthalfringabovecomb,
dotaboverightcomb,
asteriskbelowcomb,
doubleringbelowcomb,
zigzagabovecomb,
doublebrevebelowcomb,
doublebrevecomb,
doublemacroncomb,
doublemacronbelowcomb,
tildedoublecomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acomb,
ecomb,
icomb,
ocomb,
ucomb,
ccomb,
dcomb,
hcomb,
mcomb,
rcomb,
tcomb,
vcomb,
xcomb,
Heta,
heta,
Sampiarchaic,
sampiarchaic,
numeralsign,
lownumeralsign,
Digammapamphylian,
digammapamphylian,
iotasub,
sigmalunatereversedsymbol,
sigmalunatedottedsymbol,
sigmalunatedottedreversedsymbol,
Yot,
tonos,
dieresistonos,
Alphatonos,
anoteleia,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha,
Beta,
Gamma,
uni0394,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
uni03A9,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
uni03BC,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
Kaisymbol,
betasymbol,
theta.math,
Upsilonhooksymbol,
Upsilonacutehooksymbol,
Upsilonadieresishooksymbol,
phisymbol,
pisymbol,
kaisymbol,
Koppaarchaic,
koppaarchaic,
Stigma,
stigma,
Digamma,
digamma,
Koppa,
koppa,
Sampi,
sampi,
Sheicoptic,
sheicoptic,
Feicoptic,
feicoptic,
Kheicoptic,
kheicoptic,
Horicoptic,
horicoptic,
Gangiacoptic,
gangiacoptic,
Shimacoptic,
shimacoptic,
Deicoptic,
deicoptic,
kappasymbol,
rhosymbol,
sigmalunatesymbol,
yot,
Thetasymbol,
epsilonlunatesymbol,
epsilonreversedlunatesymbol,
Sho,
sho,
Sigmalunatesymbol,
San,
san,
rhostrokesymbol,
Sigmareversedlunatesymbol,
Sigmalunatesymboldotted,
Reverseddottedsigmalunatesymbol,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Omegacyr,
omegacyr,
Yatcyr,
yatcyr,
Eiotifiedcyr,
eiotifiedcyr,
Yuslittlecyr,
yuslittlecyr,
Yuslittleiotifiedcyr,
yuslittleiotifiedcyr,
Yusbigcyr,
yusbigcyr,
Yusbigiotifiedcyr,
yusbigiotifiedcyr,
Ksicyr,
ksicyr,
Psicyr,
psicyr,
Fitacyr,
fitacyr,
Izhitsacyr,
izhitsacyr,
Izhitsagravedblcyr,
izhitsagravedblcyr,
Ukcyr,
ukcyr,
Omegaroundcyr,
omegaroundcyr,
Omegatitlocyr,
omegatitlocyr,
Otcyr,
otcyr,
Koppacyr,
koppacyr,
thousandscyr,
titlocombcyr,
palatcombcyr,
dasiacombcyr,
psilicombcyr,
pokrytiecombcyr,
hundredthousandscombcyr,
millionscombcyr,
Ishortsharptailcyr,
ishortsharptailcyr,
Semisoftcyr,
semisoftcyr,
Ertickcyr,
ertickcyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Gehookcyr,
gehookcyr,
Zhetailcyr,
zhetailcyr,
Zetailcyr,
zetailcyr,
Katailcyr,
katailcyr,
Kaverticalstrokecyr,
kaverticalstrokecyr,
Kastrokecyr,
kastrokecyr,
Kabashkcyr,
kabashkcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Pehookcyr,
pehookcyr,
Haabkhcyr,
haabkhcyr,
Estailcyr,
estailcyr,
Tetailcyr,
tetailcyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Tetsecyr,
tetsecyr,
Chetailcyr,
chetailcyr,
Chevertcyr,
chevertcyr,
Shhacyr,
shhacyr,
Cheabkhcyr,
cheabkhcyr,
Cheabkhtailcyr,
cheabkhtailcyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
Kahookcyr,
kahookcyr,
Elsharptailcyr,
elsharptailcyr,
Enhookcyr,
enhookcyr,
Ensharptailcyr,
ensharptailcyr,
Chekhakascyr,
chekhakascyr,
Emsharptailcyr,
emsharptailcyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Adieresiscyr,
adieresiscyr,
Aiecyr,
aiecyr,
Iebrevecyr,
iebrevecyr,
Schwacyr,
schwacyr,
Schwadieresiscyr,
schwadieresiscyr,
Zhedieresiscyr,
zhedieresiscyr,
Zedieresiscyr,
zedieresiscyr,
Dzeabkhcyr,
dzeabkhcyr,
Imacroncyr,
imacroncyr,
Idieresiscyr,
idieresiscyr,
Odieresiscyr,
odieresiscyr,
Obarcyr,
obarcyr,
Obardieresiscyr,
obardieresiscyr,
Ereverseddieresiscyr,
ereverseddieresiscyr,
Umacroncyr,
umacroncyr,
Udieresiscyr,
udieresiscyr,
Uacutedblcyr,
uacutedblcyr,
Chedieresiscyr,
chedieresiscyr,
Getailcyr,
getailcyr,
Ylongdieresiscyr,
ylongdieresiscyr,
Gehookstrokecyr,
gehookstrokecyr,
Hahookcyr,
hahookcyr,
Hastrokecyr,
hastrokecyr,
Dekomicyr,
dekomicyr,
Djekomicyr,
djekomicyr,
Zjekomicyr,
zjekomicyr,
Dzjekomicyr,
dzjekomicyr,
Ljekomicyr,
ljekomicyr,
Njekomicyr,
njekomicyr,
Sjekomicyr,
sjekomicyr,
Tjekomicyr,
tjekomicyr,
Reversedzecyr,
reversedzecyr,
Elhookcyr,
elhookcyr,
Lhacyr,
lhacyr,
Rhacyr,
rhacyr,
Yaecyr,
yaecyr,
Qacyr,
qacyr,
Wecyr,
wecyr,
Kaaleutcyr,
kaaleutcyr,
Elmiddlehookcyr,
elmiddlehookcyr,
Enmiddlehookcyr,
enmiddlehookcyr,
Petailcyr,
petailcyr,
Shhatailcyr,
shhatailcyr,
Enhookleftcyr,
enhookleftcyr,
Dzzhecyr,
dzzhecyr,
Dchecyr,
dchecyr,
Eltailcyr,
eltailcyr,
etnahtaleft-hb,
segolta-hb,
shalshelet-hb,
zaqefqatan-hb,
zaqefgadol-hb,
tipehaleft-hb,
reviamugrash-hb,
zarqa-hb,
pashta-hb,
yetiv-hb,
tevirleft-hb,
gereshaccent-hb,
gereshmuqdam-hb,
gershayimaccent-hb,
qarneypara-hb,
telishagedola-hb,
pazer-hb,
atnahhafukh-hb,
munahleft-hb,
mahapakhleft-hb,
merkhaleft-hb,
merkhakefulaleft-hb,
dargaleft-hb,
qadma-hb,
telishaqetana-hb,
yerahbenyomoleft-hb,
ole-hb,
iluy-hb,
dehi-hb,
zinor-hb,
masoracircle-hb,
sheva-hb,
hatafsegol-hb,
hatafpatah-hb,
hatafqamats-hb,
hiriq-hb,
tsere-hb,
segol-hb,
patah-hb,
qamats-hb,
holam-hb,
holamhaser-hb,
qubuts-hb,
dagesh-hb,
siluqleft-hb,
maqaf-hb,
rafe-hb,
paseq-hb,
shindot-hb,
sindot-hb,
sofpasuq-hb,
dotupper-hb,
dotlower-hb,
nunhafukha-hb,
qamatsqatan-hb,
alef-hb,
bet-hb,
gimel-hb,
dalet-hb,
he-hb,
vav-hb,
zayin-hb,
het-hb,
tet-hb,
yod-hb,
finalkaf-hb,
kaf-hb,
lamed-hb,
finalmem-hb,
mem-hb,
finalnun-hb,
nun-hb,
samekh-hb,
ayin-hb,
finalpe-hb,
pe-hb,
finaltsadi-hb,
tsadi-hb,
qof-hb,
resh-hb,
shin-hb,
tav-hb,
vavvav-hb,
vavyod-hb,
yodyod-hb,
geresh-hb,
gershayim-hb,
circumflexdblcomb,
diaeresisringcomb,
infinitycomb,
arrowdowncomb,
tripledotcomb,
xxbelowcomb,
wigglylinebelowcomb,
openmarkbelowcomb,
doubleopenmarkbelowcomb,
lightcentralizationstrokebelowcomb,
strongcentralizationstrokebelowcomb,
parentabovecomb,
doubleparentabovecomb,
parentbelowcomb,
parentoverlaycomb,
uni1C80,
uni1C81,
uni1C82,
uni1C83,
uni1C84,
uni1C85,
uni1C86,
uni1C87,
uni1C88,
Asmall,
AEsmall,
aeturned,
Bbarsmall,
Csmall,
Dsmall,
Ethsmall,
Esmall,
eopenturned,
iturned,
Jsmall,
Ksmall,
Lsmallstroke,
Msmall,
Nsmallreversed,
Osmall,
Oopensmall,
osideways,
oopensideways,
ostrokesideways,
oeturned,
OUsmall,
otophalf,
obottomhalf,
Psmall,
Rsmallreversed,
Rsmallturned,
Tsmall,
Usmall,
usideways,
usidewaysdieresised,
mturnedsideways,
Vsmall,
Wsmall,
Zsmall,
Ezhsmall,
spirantvoicedlaryngeal,
ain-phon,
Gamma-grsmall,
Lambda-grsmall,
Pi-grsmall,
RsmallHO-gr,
Psi-grsmall,
Elsmallcyr,
Amod,
Aemod,
Bmod,
Bbarmod,
Dmod,
Emod,
Ereversedmod,
Gmod,
Hmod,
Imod,
Jmod,
Kmod,
Lmod,
Mmod,
Nmod,
Nreversedmod,
Omod,
Oumod,
Pmod,
Rmod,
Tmod,
Umod,
Wmod,
amod,
aturnedmod,
alphamod,
aeturnedmod,
bmod,
dmod,
emod,
schwamod,
eopenmod,
eopenturnedmod,
gmod,
iturnedmod,
kmod,
mmod,
engmod,
omod,
oopenmod,
otophalfmod,
obottomhalfmod,
pmod,
tmod,
umod,
usidewaysmod,
mturnedmod,
vmod,
ainmod,
betamod,
gamma-grmod,
deltamod,
phimod,
chimod,
iinferior,
rinferior,
uinferior,
vinferior,
beta-grinferior,
gamma-grinferior,
rho-grinferior,
phi-grinferior,
chi-grinferior,
ue,
bmiddletilde,
dmiddletilde,
fmiddletilde,
mmiddletilde,
nmiddletilde,
pmiddletilde,
rmiddletilde,
rfishmiddletilde,
smiddletilde,
tmiddletilde,
zmiddletilde,
gturned,
ENcyrmod,
ginsular,
thstrike,
Ismallstroke,
iotastroke,
pstroke,
ustroke,
upsilonstroke,
bpalatalhook,
dpalatalhook,
fpalatalhook,
gpalatalhook,
kpalatalhook,
lpalatalhook,
mpalatalhook,
npalatalhook,
ppalatalhook,
rpalatalhook,
spalatalhook,
eshpalatalhook,
vpalatalhook,
xpalatalhook,
zpalatalhook,
aretroflexhook,
alpharetroflexhook,
dhooktail,
eretroflexhook,
eopenretroflexhook,
eopenreversedretroflexhook,
schwaretroflexhook,
iretroflexhook,
oopenretroflexhook,
eshretroflexhook,
uretroflexhook,
ezhretroflexhook,
alphaturnedmod,
cmod,
ccurlmod,
ethmod,
eopenreversedmod,
fmod,
dotlessjstrokemod,
gscriptmod,
hturnedmod,
istrokemod,
iotamod,
Ismallmod,
Istrokesmallmod,
jcrossedtailmod,
lretroflexhookmod,
lpalatalhookmod,
Lsmallmod,
mhookmod,
mlonglegturnedmod,
nlefthookmod,
nretroflexhookmod,
Nsmallmod,
obarmod,
phiModifier-latin,
shookmod,
eshmod,
tpalatalhookmod,
ubarmod,
upsilonmod,
Usmallmod,
vhookmod,
vturnedmod,
zmod,
zretroflexhookmod,
zcurlmod,
ezhmod,
thetamod,
gravedottedcomb,
acutedottedcomb,
snakebelowcomb,
suspensioncomb,
macronacutecomb,
gravemacroncomb,
macrongravecomb,
acutemacroncomb,
graveacutegravecomb,
acutegraveacutecomb,
rbelowcomb,
brevemacroncomb,
macronbrevecomb,
doublecircumflexcomb,
ogonekabovecomb,
zigzagbelowcomb,
isbelowcomb,
urabovecomb,
usabovecomb,
aaboveflatcomb,
aecomb,
aocomb,
avcomb,
ccedillacomb,
insulardcomb,
ethcomb,
gcomb,
Gcomb,
kcomb,
lcomb,
Lcomb,
Mcomb,
ncomb,
Ncomb,
Rcomb,
rrotundacomb,
scomb,
longscomb,
zcomb,
alphalatincomb,
bcomb,
betalatincomb,
schwacomb,
fcomb,
ldoublemiddletildecomb,
olightcentralizationstrokecomb,
pcomb,
eshcomb,
ulightcentralizationstrokecomb,
wcomb,
adiaeresiscomb,
odiaeresiscomb,
udiaeresiscomb,
uptackabovecomb,
deletionmarkcomb,
breveinverteddblbelowcomb,
almostequaltobelowcomb,
arrowheadleftabovecomb,
arrowheadrightheaddownbelow,
Aringbelow,
aringbelow,
Bdot,
bdot,
Bdotbelow,
bdotbelow,
Blinebelow,
blinebelow,
Ccedillaacute,
ccedillaacute,
Ddot,
ddot,
Ddotbelow,
ddotbelow,
Dlinebelow,
dlinebelow,
Dcedilla,
dcedilla,
Dcircumflexbelow,
dcircumflexbelow,
Emacrongrave,
emacrongrave,
Emacronacute,
emacronacute,
Ecircumflexbelow,
ecircumflexbelow,
Etildebelow,
etildebelow,
Ecedillabreve,
ecedillabreve,
Fdot,
fdot,
Gmacron,
gmacron,
Hdot,
hdot,
Hdotbelow,
hdotbelow,
Hdieresis,
hdieresis,
Hcedilla,
hcedilla,
Hbrevebelow,
hbrevebelow,
Itildebelow,
itildebelow,
Idieresisacute,
idieresisacute,
Kacute,
kacute,
Kdotbelow,
kdotbelow,
Klinebelow,
klinebelow,
Ldotbelow,
ldotbelow,
Lmacrondot,
lmacrondot,
Llinebelow,
llinebelow,
Lcircumflexbelow,
lcircumflexbelow,
Macute,
macute,
Mdot,
mdot,
Mdotbelow,
mdotbelow,
Ndot,
ndot,
Ndotbelow,
ndotbelow,
Nlinebelow,
nlinebelow,
Ncircumflexbelow,
ncircumflexbelow,
Otildeacute,
otildeacute,
Otildedieresis,
otildedieresis,
Omacrongrave,
omacrongrave,
Omacronacute,
omacronacute,
Pacute,
pacute,
Pdot,
pdot,
Rdot,
rdot,
Rdotbelow,
rdotbelow,
Rmacrondot,
rmacrondot,
Rlinebelow,
rlinebelow,
Sdot,
sdot,
Sdotbelow,
sdotbelow,
Sacutedotaccent,
sacutedotaccent,
Scarondot,
scarondot,
Sdotbelowdotabove,
sdotbelowdotabove,
Tdot,
tdot,
Tdotbelow,
tdotbelow,
Tlinebelow,
tlinebelow,
Tcircumflexbelow,
tcircumflexbelow,
Udieresisbelow,
udieresisbelow,
Utildebelow,
utildebelow,
Ucircumflexbelow,
ucircumflexbelow,
Utildeacute,
utildeacute,
Umacrondieresis,
umacrondieresis,
Vtilde,
vtilde,
Vdotbelow,
vdotbelow,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Wdot,
wdot,
Wdotbelow,
wdotbelow,
Xdot,
xdot,
Xdieresis,
xdieresis,
Ydot,
ydot,
Zcircumflex,
zcircumflex,
Zdotbelow,
zdotbelow,
Zlinebelow,
zlinebelow,
hlinebelow,
tdieresis,
wring,
yring,
arighthalfring,
longsdot,
longswithdiagonalstroke,
longswithhighstroke,
Germandbls,
delta-lt,
Adotbelow,
adotbelow,
Ahoi,
ahoi,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhoi,
acircumflexhoi,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehoi,
abrevehoi,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehoi,
ehoi,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhoi,
ecircumflexhoi,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihoi,
ihoi,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohoi,
ohoi,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhoi,
ocircumflexhoi,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhoi,
ohornhoi,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhoi,
uhoi,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhoi,
uhornhoi,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhoi,
yhoi,
Ytilde,
ytilde,
LLwelsh,
llwelsh,
Vwelsh,
vwelsh,
Yloop,
yloop,
alphalenis,
alphaasper,
alphalenisgrave,
alphaaspergrave,
alphalenisacute,
alphaasperacute,
alphalenistilde,
alphaaspertilde,
Alphalenis,
Alphaasper,
Alphalenisgrave,
Alphaaspergrave,
Alphalenisacute,
Alphaasperacute,
Alphalenistilde,
Alphaaspertilde,
epsilonlenis,
epsilonasper,
epsilonlenisgrave,
epsilonaspergrave,
epsilonlenisacute,
epsilonasperacute,
Epsilonlenis,
Epsilonasper,
Epsilonlenisgrave,
Epsilonaspergrave,
Epsilonlenisacute,
Epsilonasperacute,
etalenis,
etaasper,
etalenisgrave,
etaaspergrave,
etalenisacute,
etaasperacute,
etalenistilde,
etaaspertilde,
Etalenis,
Etaasper,
Etalenisgrave,
Etaaspergrave,
Etalenisacute,
Etaasperacute,
Etalenistilde,
Etaaspertilde,
iotalenis,
iotaasper,
iotalenisgrave,
iotaaspergrave,
iotalenisacute,
iotaasperacute,
iotalenistilde,
iotaaspertilde,
Iotalenis,
Iotaasper,
Iotalenisgrave,
Iotaaspergrave,
Iotalenisacute,
Iotaasperacute,
Iotalenistilde,
Iotaaspertilde,
omicronlenis,
omicronasper,
omicronlenisgrave,
omicronaspergrave,
omicronlenisacute,
omicronasperacute,
Omicronlenis,
Omicronasper,
Omicronlenisgrave,
Omicronaspergrave,
Omicronlenisacute,
Omicronasperacute,
upsilonlenis,
upsilonasper,
upsilonlenisgrave,
upsilonaspergrave,
upsilonlenisacute,
upsilonasperacute,
upsilonlenistilde,
upsilonaspertilde,
Upsilonasper,
Upsilonaspergrave,
Upsilonasperacute,
Upsilonaspertilde,
omegalenis,
omegaasper,
omegalenisgrave,
omegaaspergrave,
omegalenisacute,
omegaasperacute,
omegalenistilde,
omegaaspertilde,
Omegalenis,
Omegaasper,
Omegalenisgrave,
Omegaaspergrave,
Omegalenisacute,
Omegaasperacute,
Omegalenistilde,
Omegaaspertilde,
alphagrave,
alphaacute,
epsilongrave,
epsilonacute,
etagrave,
etaacute,
iotagrave,
iotaacute,
omicrongrave,
omicronacute,
upsilongrave,
upsilonacute,
omegagrave,
omegaacute,
alphalenisiotasub,
alphaasperiotasub,
alphalenisgraveiotasub,
alphaaspergraveiotasub,
alphalenisacuteiotasub,
alphaasperacuteiotasub,
alphalenistildeiotasub,
alphaaspertildeiotasub,
Alphalenisiotasub,
Alphaasperiotasub,
Alphalenisgraveiotasub,
Alphaaspergraveiotasub,
Alphalenisacuteiotasub,
Alphaasperacuteiotasub,
Alphalenistildeiotasub,
Alphaaspertildeiotasub,
etalenisiotasub,
etaasperiotasub,
etalenisgraveiotasub,
etaaspergraveiotasub,
etalenisacuteiotasub,
etaasperacuteiotasub,
etalenistildeiotasub,
etaaspertildeiotasub,
Etalenisiotasub,
Etaasperiotasub,
Etalenisgraveiotasub,
Etaaspergraveiotasub,
Etalenisacuteiotasub,
Etaasperacuteiotasub,
Etalenistildeiotasub,
Etaaspertildeiotasub,
omegalenisiotasub,
omegaasperiotasub,
omegalenisgraveiotasub,
omegaaspergraveiotasub,
omegalenisacuteiotasub,
omegaasperacuteiotasub,
omegalenistildeiotasub,
omegaaspertildeiotasub,
Omegalenisiotasub,
Omegaasperiotasub,
Omegalenisgraveiotasub,
Omegaaspergraveiotasub,
Omegalenisacuteiotasub,
Omegaasperacuteiotasub,
Omegalenistildeiotasub,
Omegaaspertildeiotasub,
alphabreve,
alphawithmacron,
alphagraveiotasub,
alphaiotasub,
alphaacuteiotasub,
alphatilde,
alphatildeiotasub,
Alphabreve,
Alphawithmacron,
Alphagrave,
Alphaacute,
Alphaiotasub,
koronis,
iotaadscript,
lenis,
tilde-gr,
dieresistilde,
etagraveiotasub,
etaiotasub,
etaacuteiotasub,
etatilde,
etatildeiotasub,
Epsilongrave,
Epsilonacute,
Etagrave,
Etaacute,
Etaiotasub,
lenisgrave,
lenisacute,
lenistilde,
iotabreve,
iotawithmacron,
iotadieresisgrave,
iotadieresisacute,
iotatilde,
iotadieresistilde,
Iotabreve,
Iotawithmacron,
Iotagrave,
Iotaacute,
aspergrave,
asperacute,
aspertilde,
upsilonbreve,
upsilonwithmacron,
upsilondieresisgrave,
upsilondieresisacute,
rholenis,
rhoasper,
upsilontilde,
upsilondieresistilde,
Upsilonbreve,
Upsilonwithmacron,
Upsilongrave,
Upsilonacute,
Rhoasper,
dieresisgrave,
dieresisacute,
grave-gr,
omegagraveiotasub,
omegaiotasub,
omegaacuteiotasub,
omegatilde,
omegatildeiotasub,
Omicrongrave,
Omicronacute,
Omegagrave,
Omegaacute,
Omegaiotasub,
acute-gr,
asper,
enquad,
emquad,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
hyphen-gnrl,
nonbreakinghyphen,
figuredash,
endash,
emdash,
horizontalbar,
verticalbardbl,
underscoredbl,
quoteleft,
quoteright,
quotesinglbase,
quotereversed,
quotedblleft,
quotedblright,
quotedblbase,
quotedblreversed,
dagger,
daggerdbl,
bullet,
triangularbullet,
onedotenleader,
twodotenleader,
ellipsis,
hyphenationpoint,
lineseparator,
paragraphseparator,
lefttorightembed,
righttoleftembed,
popdirectionalformatting,
lefttorightoverride,
righttoleftoverride,
perthousand,
pertenthousandsign,
minute,
second,
millisecond,
minutereversed,
secondreversed,
millisecondreversed,
caret,
guilsinglleft,
guilsinglright,
referencemark,
exclamdbl,
interrobang,
overline,
undertie,
charactertie,
caretinsertionpoint,
asterism,
hyphenbullet,
fraction,
bracketleftsquarequill,
bracketrightsquarequill,
questiondbl,
questionexclamationmark,
exclamationquestion,
tironiansignet,
pilcrowsignreversed,
blackwardsbulletleft,
blackwardsbulletright,
lowasterisk,
semicolonreversed,
closeup,
twoasterisksalignedvertically,
commercialminussign,
swungdash,
invertedundertie,
flowerpunctuationmark,
threedotpunctuation,
quadrupleminute,
fourdotpunctuation,
fivedotpunctuation,
twodotpunctuation,
fourdotmark,
dottedcross,
tricolon,
verticalfourdots,
mediummathematicalspace,
wordjoiner,
functionapplication,
invisibletimes,
invisibleseparator,
invisibleplus,
lefttorightisolate,
righttoleftisolate,
firststrongisolate,
popdirectionalisolate,
inhibitsymmetricswapping,
activatesymmetricswapping,
inhibitarabicformshaping,
activatearabicformshaping,
nationaldigitshapes,
nominaldigitshapes,
zero.superior,
i.superior,
four.superior,
five.superior,
six.superior,
seven.superior,
eight.superior,
nine.superior,
plus.superior,
minus.superior,
equal.superior,
parenleft.superior,
parenright.superior,
n.superior,
zero.inferior,
one.inferior,
two.inferior,
three.inferior,
four.inferior,
five.inferior,
six.inferior,
seven.inferior,
eight.inferior,
nine.inferior,
plus.inferior,
minus.inferior,
equal.inferior,
parenleft.inferior,
parenright.inferior,
ainferior,
einferior,
oinferior,
xinferior,
schwainferior,
hinferior,
kinferior,
linferior,
minferior,
ninferior,
pinferior,
sinferior,
tinferior,
euroarchaic,
colonmonetary,
cruzeiro,
franc,
lira,
mill,
naira,
peseta,
rupee,
won,
newsheqel,
dong,
Euro,
kip,
tugrik,
drachma,
germanpenny,
peso,
guarani,
austral,
hryvnia,
cedi,
livretournois,
spesmilo,
tenge,
indianrupee,
turkishlira,
nordicmark,
manat,
ruble,
lari,
asteriskabovecomb,
accountof,
addressedsubject,
Cdblstruck,
degreecelsius,
centreline,
careof,
cadauna,
euler,
scruple,
degreefahrenheit,
gscript-lttr,
Hscript,
Hfraktur,
Hdblstruck,
planck,
plancktwopi,
Iscript,
Ifraktur,
Lscript,
litre,
lbbar,
Ndblstruck,
numero,
soundcopyright,
weierstrass,
Pdblstruck,
Qdblstruck,
Rscript,
Rfraktur,
Rdblstruck,
prescription,
response,
servicemark,
telephone,
trademark,
versicle,
Zdblstruck,
ounce,
Omega,
ohminverted,
Zfraktur,
iotaturned,
kelvin,
angstrom,
Bscript,
Cfraktur,
estimated,
escript,
Escript,
Fscript,
Fturned,
Mscript,
oscript,
aleph,
uni2136,
uni2137,
uni2138,
information,
Qrotated,
facsimile,
pidblstruck,
gammadblstruck,
Gammadblstruck,
Pidblstruck,
summationdblstruck,
Gturnedsans,
Lturnedsans,
Lreversedsans,
Yturnedsans,
Ddblstruckitalic,
ddblstruckitalic,
edblstruckitalic,
idblstruckitalic,
jdblstruckitalic,
propertyline,
ampersandturned,
per,
aktieselskab,
fturned,
forsamaritan,
onethird,
twothirds,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
creversed,
arrowleft,
arrowup,
arrowright,
arrowdown,
arrowboth,
arrowupdn,
arrowupdnbse,
partialdiff,
Delta,
product,
summation,
minus,
bulletoperator,
radical,
infinity,
orthogonal,
intersection,
integral,
approxequal,
notequal,
equivalence,
lessequal,
greaterequal,
house,
revlogicalnot,
integraltp,
integralbt,
lighthorz,
lightvert,
lightdnright,
lightdnleft,
lightupright,
lightupleft,
lightvertright,
lightvertleft,
lightdnhorz,
lightuphorz,
lightverthorz,
dblhorz,
dblvert,
dnsngrightdbl,
dndblrightsng,
dbldnright,
dnsngleftdbl,
dndblleftsng,
dbldnleft,
upsngrightdbl,
updblrightsng,
dblupright,
upsngleftdbl,
updblleftsng,
dblupleft,
vertsngrightdbl,
vertdblrightsng,
dblvertright,
vertsngleftdbl,
vertdblleftsng,
dblvertleft,
dnsnghorzdbl,
dndblhorzsng,
dbldnhorz,
upsnghorzdbl,
updblhorzsng,
dbluphorz,
vertsnghorzdbl,
vertdblhorzsng,
dblverthorz,
upblock,
dnblock,
block,
lfblock,
rtblock,
ltshade,
shade,
dkshade,
filledbox,
squarewhite,
squaresmallblack,
squaresmallwhite,
filledrect,
triagup,
triagrt,
triagdn,
triaglf,
lozenge,
circle,
circledotted,
circleblack,
invbullet,
invcircle,
openbullet,
smileface,
invsmileface,
sun,
female,
male,
spade,
club,
heart,
diamond,
musicalnote,
musicalnotedbl,
musicsharp,
Ldblbar,
ldblbar,
Lmiddletilde,
Pstroke,
Rtail,
astroke,
tstroke,
Hdescender,
hdescender,
Kdescender,
kdescender,
Zdescender,
zdescender,
Alpha-lt,
Mhook,
Aturned,
Alphaturned-lt,
vrighthook,
Whook,
whook,
vcurl,
Hhalf,
hhalf,
phitailless,
enotch,
rtailturned,
olowringinside,
Esmallturned,
jinferior,
Vmod,
Sswashtail,
Zswashtail,
uni2DE0,
uni2DE1,
uni2DE2,
uni2DE3,
uni2DE4,
uni2DE5,
uni2DE6,
uni2DE7,
uni2DE8,
uni2DE9,
uni2DEA,
uni2DEB,
uni2DEC,
uni2DED,
uni2DEE,
uni2DEF,
uni2DF0,
uni2DF1,
uni2DF2,
uni2DF3,
uni2DF4,
uni2DF5,
uni2DF6,
uni2DF7,
uni2DF8,
uni2DF9,
uni2DFA,
uni2DFB,
uni2DFC,
uni2DFD,
uni2DFE,
uni2DFF,
anglemarkersubstitutionright,
anglemarkerdottedsubstitutionright,
bracketsubstitutionleft,
bracketsubstitutionright,
bracketdottedsubstitutionleft,
bracketdottedsubstitutionright,
markerraisedinterpolation,
markerdottedraisedinterpolation,
markerdottedtransposition,
brackettranspositionleft,
brackettranspositionright,
squareraised,
bracketraisedleft,
bracketraisedright,
coroniseditorial,
paragraphos,
paragraphosforked,
paragraphosforkedreversed,
hypodiastole,
obelosdotted,
ancoradown,
ancoraup,
angledottedright,
hyphendbloblique,
interrobanginverted,
palmbranch,
hyphendieresis,
tildering,
bracketparaphraselowleft,
bracketparaphraselowright,
tildedotaccent,
tildedotbelow,
barquillverticalleft,
barquillverticalright,
brackethalftopleft,
brackethalftopright,
brackethalfbottomleft,
brackethalfbottomright,
ubracketleft,
ubracketright,
parendblleft,
parendblright,
twodotsoveronedot,
onedotovertwodots,
dotsquarefour,
fivedot,
questionreversed,
tildevertical,
pointring,
wordseparatormiddledot,
turnedcomma,
dotraised,
commaraised,
turnedsemicolon,
daggerwithguardleft,
daggerwithguardright,
turneddagger,
sectionsignhalftop,
emdashdbl,
emdashtpl,
stenographicfullstop,
sixdotsvertical,
wigglylinevertical,
capitulum,
hyphendbl,
commareversed,
quotedbllowreversed,
Zemlya-cy,
zemlya-cy,
Dzelo-cy,
dzelo-cy,
DzeReversed-cy,
dzeReversed-cy,
Iota-cy,
iota-cy,
Djerv-cy,
djerv-cy,
UkMonograph-cy,
ukMonograph-cy,
OmegaBroad-cy,
omegaBroad-cy,
YerNeutral-cy,
yerNeutral-cy,
YeruBackYer-cy,
yeruBackyer-cy,
YatIotified-cy,
yatIotified-cy,
YuReversed-cy,
yuReversed-cy,
IotifiedA-cy,
iotifieda-cy,
YusClosedlittle-cy,
yusClosedlittle-cy,
YusBlended-cy,
yusBlended-cy,
YusiotifiedClosedLittle-cy,
yusiotifiedClosedLittle-cy,
Yn-cy,
yn-cy,
TseReversed-cy,
tseReversed-cy,
DeSoft-cy,
deSoft-cy,
ElSoft-cy,
elSoft-cy,
EmSoft-cy,
emSoft-cy,
OMonocular-cy,
oMonocular-cy,
OBinocular-cy,
oBinocular-cy,
ODoubleMonocular-cy,
oDoubleMonocular-cy,
omultiocular-cy,
vzmetcomb-cy,
tenmillionscomb-cy,
hundredmillionscomb-cy,
thousandmillionscomb-cy,
asterisk-cy,
ieukrainiancomb-cy,
icomb-cy,
yicomb-cy,
ucomb-cy,
hardsigncomb-cy,
yerucomb-cy,
softsigncomb-cy,
omegacomb-cy,
kavykacomb-cy,
payerokcomb-cy,
kavyka-cy,
payerok-cy,
Dwe-cy,
dwe-cy,
Dzwe-cy,
dzwe-cy,
Zhwe-cy,
zhwe-cy,
Cche-cy,
cche-cy,
Dzze-cy,
dzze-cy,
TeWithMiddleHook-cy,
tewithmiddlehook-cy,
Twe-cy,
twe-cy,
Tswe-cy,
tswe-cy,
Tsse-cy,
tsse-cy,
Tche-cy,
tche-cy,
Hwe-cy,
hwe-cy,
Shwe-cy,
shwe-cy,
DoubleO-cy,
doubleo-cy,
CrossedO-cy,
crossedo-cy,
modifierhardsign-cy,
modifiersoftsign-cy,
efcomb-cy,
iotifiedecomb-cy,
dotverticalbarmod,
dotslashmod,
dothorizontalbarmod,
lowerrightcorneranglemod,
raiseduparrowmod,
raiseddownarrowmod,
raisedexclamationmarkmod,
raisedinvertedexclamationmarkmod,
lowinvertedexclamationmarkmod,
stresstonemod,
stresslowtonemod,
Egyptalef,
egyptalef,
Egyptain,
egyptain,
Heng,
heng,
Tz,
tz,
Tresillo,
tresillo,
Cuatrillo,
cuatrillo,
Cuatrillocomma,
cuatrillocomma,
Fsmall,
Ssmall,
AA,
aa,
AO,
ao,
AU,
au,
AV,
av,
AVhorizontalbar,
avhorizontalbar,
AY,
ay,
Cdotreversed,
cdotreversed,
Kstroke,
kstroke,
Kdiagonalstroke,
kdiagonalstroke,
Kstrokediagonalstroke,
kstrokediagonalstroke,
Lbroken,
lbroken,
Lstroke,
lstroke,
Ostroke,
ostroke,
Oloop,
oloop,
OO,
oo,
Pstrokedescender,
pstrokedescender,
Pflourish,
pflourish,
Ptail,
ptail,
Qstrokedescender,
qstrokedescender,
Qdiagonalstroke,
qdiagonalstroke,
Rrotunda,
rrotunda,
Rumrotunda,
rumrotunda,
Vdiagonalstroke,
vdiagonalstroke,
Vy,
vy,
Visigothicz,
visigothicz,
Thornstroke,
thornstroke,
Thornstrokedescender,
thornstrokedescender,
Vend,
vend,
Et,
et,
Is,
is,
Con,
con,
usmod,
dum,
lum,
mum,
num,
rum,
Rumsmall,
tum,
um,
Dinsular,
dinsular,
Finsular,
finsular,
Ginsular,
Ginsularturned,
ginsularturned,
Lturned,
lturned,
Rinsular,
rinsular,
Sinsular,
sinsular,
Tinsular,
tinsular,
circumflexlow,
colonmod,
shortequalsmod,
Saltillo,
saltillo,
Hturned,
lbeltretroflex,
sinologicaldot,
Ndescender,
ndescender,
Cbar,
cbar,
cpalatalhook,
hpalatalhook,
Bflourish,
bflourish,
Fstroke,
fstroke,
Volapukae,
volapukae,
Volapukoe,
volapukoe,
Volapukue,
volapukue,
Gobliquestroke,
gobliquestroke,
Kobliquestroke,
kobliquestroke,
Nobliquestroke,
nobliquestroke,
Robliquestroke,
robliquestroke,
Sobliquestroke,
sobliquestroke,
Hhook,
Ereversedopen,
Gscript,
Lbelt,
Ismall-latin,
Kturned,
Tturned,
Jcrossed-tail,
Chi-lt,
Beta-lt,
beta-lt,
Omega-lt,
omega-lt,
iepigraphicsideways,
Hstrokemod,
ligatureoemod,
Mturnedsmall,
freversedepigraphic,
preversedepigraphic,
mepigraphicinverted,
iaepigraphic,
archaicmepigraphic,
redalphabar,
areversedschwa,
efractur,
redebar,
eflourish,
flenis,
gtailscript,
llazyinverteds,
lmiddledbltilde,
lmiddlering,
mtail,
ntail,
engtail,
ofractur,
ofracturstroke,
ostrokeopen,
oeinverted,
oestroketurned,
oehorizontalstroketurned,
ooopenturned,
ooopenstroketurned,
stirrupr,
Rrightlegsmall,
routhandle,
rdbl,
rtail,
rtaildbl,
rscript,
rringscript,
baselineesh,
urightlegshort,
urightlegbarshort,
ui,
uiturned,
ulefthook,
ltchi,
ltchilowrightring,
ltchilowleftserif,
xlowrightring,
xlongleftleg,
xlongleftlegandlowrightring,
xlongleftlegserif,
yrightlegshort,
breveinvertedmod,
hengmod,
llazyinvertedsmod,
lmiddletildemod,
ulefthookmod,
sakhayat,
iotifiede,
oeopen,
uo,
alphainverted,
Omegaltsmall,
uniF001,
uniF002,
uniF005,
uniF00A,
uniF00B,
uniF00C,
uniF00D,
uniF00E,
f_f_i,
f_f_l,
yodhiriq-hb,
judeospanishvarika-hb,
yodyodpatah-hb,
ayinaltone-hb,
widealef-hb,
widedalet-hb,
widehe-hb,
widekaf-hb,
widelamed-hb,
finalwidemem-hb,
wideresh-hb,
widetav-hb,
alternativeplus-hb,
shinshindot-hb,
shinsindot-hb,
shindageshshindot-hb,
shindageshsindot-hb,
alefpatah-hb,
alefqamats-hb,
alefdagesh-hb,
betdagesh-hb,
gimeldagesh-hb,
daletdagesh-hb,
hedagesh-hb,
vavdagesh-hb,
zayindagesh-hb,
tetdagesh-hb,
yoddagesh-hb,
finalkafdagesh-hb,
kafdagesh-hb,
lameddagesh-hb,
memdagesh-hb,
nundagesh-hb,
samekhdagesh-hb,
finalpedagesh-hb,
pedagesh-hb,
tsadidagesh-hb,
qofdagesh-hb,
reshdagesh-hb,
shindagesh-hb,
tavdagesh-hb,
vavholam-hb,
betrafe-hb,
kafrafe-hb,
perafe-hb,
aleflamed-hb,
ligaturelefthalfcomb,
ligaturerighthalfcomb,
doubletildelefthalfcomb,
doubletilderighthalfcomb,
macronlefthalfcomb,
macronrighthalfcomb,
conjoiningmacroncomb,
ligaturelefthalfbelowcomb,
ligaturerighthalfbelowcomb,
tildelefthalfbelowcomb,
tilderighthalfbelowcomb,
macronlefthalfbelowcomb,
macronrighthalfbelowcomb,
conjoiningmacronbelowcomb,
titlolefthalfcomb-cy,
titlorighthalfcomb-cy,
zerowidthnobreakspace,
replacementcharobj,
replacementchar,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
grave.alt1,
grave.alt2,
grave.alt3,
grave.alt4,
grave.alt5,
grave.uc,
dieresis.uc,
acute.alt1,
acute.alt2,
acute.alt3,
acute.alt4,
acute.alt5,
acute.uc,
dotlessi.alt1,
Lcommaaccent.loclMAH,
lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
ncommaaccent.loclMAH,
Eng.1,
Eng.alt1,
Eng.alt2,
Eng.alt3,
uni021A,
uni021B,
circumflex.alt1,
circumflex.uc,
caron.uc,
breve.alt1,
breve.cyr,
breve.uc,
tilde.alt1,
tilde.alt10,
tilde.alt11,
tilde.alt12,
tilde.alt13,
tilde.alt2,
tilde.alt3,
tilde.alt4,
tilde.alt5,
tilde.alt6,
tilde.alt7,
tilde.alt8,
tilde.alt9,
tilde.uc,
hungarumlaut.uc,
tonebarextrahighmod_tonebarextrahighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarhighmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarlowmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarmidmod,
tonebarextrahighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarextralowmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarhighmod,
tonebarextrahighmod_tonebarextralowmod_tonebarlowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarmidmod,
tonebarextrahighmod_tonebarhighmod,
tonebarextrahighmod_tonebarhighmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarhighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarhighmod_tonebarhighmod,
tonebarextrahighmod_tonebarhighmod_tonebarlowmod,
tonebarextrahighmod_tonebarhighmod_tonebarmidmod,
tonebarextrahighmod_tonebarlowmod,
tonebarextrahighmod_tonebarlowmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarlowmod_tonebarextralowmod,
tonebarextrahighmod_tonebarlowmod_tonebarhighmod,
tonebarextrahighmod_tonebarlowmod_tonebarlowmod,
tonebarextrahighmod_tonebarlowmod_tonebarmidmod,
tonebarextrahighmod_tonebarmidmod,
tonebarextrahighmod_tonebarmidmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarmidmod_tonebarextralowmod,
tonebarextrahighmod_tonebarmidmod_tonebarhighmod,
tonebarextrahighmod_tonebarmidmod_tonebarlowmod,
tonebarextrahighmod_tonebarmidmod_tonebarmidmod,
tonebarhighmod_tonebarextrahighmod,
tonebarhighmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarhighmod_tonebarextrahighmod_tonebarextralowmod,
tonebarhighmod_tonebarextrahighmod_tonebarhighmod,
tonebarhighmod_tonebarextrahighmod_tonebarlowmod,
tonebarhighmod_tonebarextrahighmod_tonebarmidmod,
tonebarhighmod_tonebarextralowmod,
tonebarhighmod_tonebarextralowmod_tonebarextrahighmod,
tonebarhighmod_tonebarextralowmod_tonebarextralowmod,
tonebarhighmod_tonebarextralowmod_tonebarhighmod,
tonebarhighmod_tonebarextralowmod_tonebarlowmod,
tonebarhighmod_tonebarextralowmod_tonebarmidmod,
tonebarhighmod_tonebarhighmod_tonebarextrahighmod,
tonebarhighmod_tonebarhighmod_tonebarextralowmod,
tonebarhighmod_tonebarhighmod_tonebarlowmod,
tonebarhighmod_tonebarhighmod_tonebarmidmod,
tonebarhighmod_tonebarlowmod,
tonebarhighmod_tonebarlowmod_tonebarextrahighmod,
tonebarhighmod_tonebarlowmod_tonebarextralowmod,
tonebarhighmod_tonebarlowmod_tonebarhighmod,
tonebarhighmod_tonebarlowmod_tonebarlowmod,
tonebarhighmod_tonebarlowmod_tonebarmidmod,
tonebarhighmod_tonebarmidmod,
tonebarhighmod_tonebarmidmod_tonebarextrahighmod,
tonebarhighmod_tonebarmidmod_tonebarextralowmod,
tonebarhighmod_tonebarmidmod_tonebarhighmod,
tonebarhighmod_tonebarmidmod_tonebarlowmod,
tonebarhighmod_tonebarmidmod_tonebarmidmod,
tonebarmidmod_tonebarextrahighmod,
tonebarmidmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarmidmod_tonebarextrahighmod_tonebarextralowmod,
tonebarmidmod_tonebarextrahighmod_tonebarhighmod,
tonebarmidmod_tonebarextrahighmod_tonebarlowmod,
tonebarmidmod_tonebarextrahighmod_tonebarmidmod,
tonebarmidmod_tonebarextralowmod,
tonebarmidmod_tonebarextralowmod_tonebarextrahighmod,
tonebarmidmod_tonebarextralowmod_tonebarextralowmod,
tonebarmidmod_tonebarextralowmod_tonebarhighmod,
tonebarmidmod_tonebarextralowmod_tonebarlowmod,
tonebarmidmod_tonebarextralowmod_tonebarmidmod,
tonebarmidmod_tonebarhighmod,
tonebarmidmod_tonebarhighmod_tonebarextrahighmod,
tonebarmidmod_tonebarhighmod_tonebarextralowmod,
tonebarmidmod_tonebarhighmod_tonebarhighmod,
tonebarmidmod_tonebarhighmod_tonebarlowmod,
tonebarmidmod_tonebarhighmod_tonebarmidmod,
tonebarmidmod_tonebarlowmod,
tonebarmidmod_tonebarlowmod_tonebarextrahighmod,
tonebarmidmod_tonebarlowmod_tonebarextralowmod,
tonebarmidmod_tonebarlowmod_tonebarhighmod,
tonebarmidmod_tonebarlowmod_tonebarlowmod,
tonebarmidmod_tonebarlowmod_tonebarmidmod,
tonebarmidmod_tonebarmidmod_tonebarextrahighmod,
tonebarmidmod_tonebarmidmod_tonebarextralowmod,
tonebarmidmod_tonebarmidmod_tonebarhighmod,
tonebarmidmod_tonebarmidmod_tonebarlowmod,
tonebarlowmod_tonebarextrahighmod,
tonebarlowmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarlowmod_tonebarextrahighmod_tonebarextralowmod,
tonebarlowmod_tonebarextrahighmod_tonebarhighmod,
tonebarlowmod_tonebarextrahighmod_tonebarlowmod,
tonebarlowmod_tonebarextrahighmod_tonebarmidmod,
tonebarlowmod_tonebarextralowmod,
tonebarlowmod_tonebarextralowmod_tonebarextrahighmod,
tonebarlowmod_tonebarextralowmod_tonebarextralowmod,
tonebarlowmod_tonebarextralowmod_tonebarhighmod,
tonebarlowmod_tonebarextralowmod_tonebarlowmod,
tonebarlowmod_tonebarextralowmod_tonebarmidmod,
tonebarlowmod_tonebarhighmod,
tonebarlowmod_tonebarhighmod_tonebarextrahighmod,
tonebarlowmod_tonebarhighmod_tonebarextralowmod,
tonebarlowmod_tonebarhighmod_tonebarhighmod,
tonebarlowmod_tonebarhighmod_tonebarlowmod,
tonebarlowmod_tonebarhighmod_tonebarmidmod,
tonebarlowmod_tonebarlowmod_tonebarextrahighmod,
tonebarlowmod_tonebarlowmod_tonebarextralowmod,
tonebarlowmod_tonebarlowmod_tonebarhighmod,
tonebarlowmod_tonebarlowmod_tonebarmidmod,
tonebarlowmod_tonebarmidmod,
tonebarlowmod_tonebarmidmod_tonebarextrahighmod,
tonebarlowmod_tonebarmidmod_tonebarextralowmod,
tonebarlowmod_tonebarmidmod_tonebarhighmod,
tonebarlowmod_tonebarmidmod_tonebarlowmod,
tonebarlowmod_tonebarmidmod_tonebarmidmod,
tonebarextralowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarextralowmod,
tonebarextralowmod_tonebarextrahighmod_tonebarhighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarlowmod,
tonebarextralowmod_tonebarextrahighmod_tonebarmidmod,
tonebarextralowmod_tonebarextralowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextralowmod_tonebarhighmod,
tonebarextralowmod_tonebarextralowmod_tonebarlowmod,
tonebarextralowmod_tonebarextralowmod_tonebarmidmod,
tonebarextralowmod_tonebarhighmod,
tonebarextralowmod_tonebarhighmod_tonebarextrahighmod,
tonebarextralowmod_tonebarhighmod_tonebarextralowmod,
tonebarextralowmod_tonebarhighmod_tonebarhighmod,
tonebarextralowmod_tonebarhighmod_tonebarlowmod,
tonebarextralowmod_tonebarhighmod_tonebarmidmod,
tonebarextralowmod_tonebarlowmod,
tonebarextralowmod_tonebarlowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarlowmod_tonebarextralowmod,
tonebarextralowmod_tonebarlowmod_tonebarhighmod,
tonebarextralowmod_tonebarlowmod_tonebarlowmod,
tonebarextralowmod_tonebarlowmod_tonebarmidmod,
tonebarextralowmod_tonebarmidmod,
tonebarextralowmod_tonebarmidmod_tonebarextrahighmod,
tonebarextralowmod_tonebarmidmod_tonebarextralowmod,
tonebarextralowmod_tonebarmidmod_tonebarhighmod,
tonebarextralowmod_tonebarmidmod_tonebarlowmod,
tonebarextralowmod_tonebarmidmod_tonebarmidmod,
acutecomb_dotaccentcomb.cap,
tildecomb_acutecomb.cap,
tildecomb_dieresiscomb.cap,
tildecomb_macroncomb.cap,
macroncomb_acutecomb.cap,
macroncomb_dieresiscomb.cap,
macroncomb_gravecomb.cap,
dotaccentcomb_macroncomb.cap,
dieresiscomb_acutecomb.cap,
dieresiscomb_caroncomb.cap,
dieresiscomb_gravecomb.cap,
dieresiscomb_macroncomb.cap,
caroncomb_dotaccentcomb.cap,
dotbelowcomb.alt1,
dotbelowcomb.alt10,
dotbelowcomb.alt11,
dotbelowcomb.alt12,
dotbelowcomb.alt13,
dotbelowcomb.alt14,
dotbelowcomb.alt15,
dotbelowcomb.alt2,
dotbelowcomb.alt3,
dotbelowcomb.alt4,
dotbelowcomb.alt5,
dotbelowcomb.alt6,
dotbelowcomb.alt7,
dotbelowcomb.alt8,
dotbelowcomb.alt9,
commaaccentcomb.1,
tonos.short,
alpha_brevecomb_commaabovecomb_acutecomb,
alpha_brevecomb_commaabovecomb_gravecomb,
alpha_brevecomb_commareversedabovecomb_acutecomb,
alpha_brevecomb_commareversedabovecomb_gravecomb,
alpha_macroncomb_commaabovecomb_acutecomb,
alpha_macroncomb_commaabovecomb_gravecomb,
alpha_macroncomb_commareversedabovecomb_acutecomb,
alpha_macroncomb_commareversedabovecomb_gravecomb,
iota_brevecomb_commaabovecomb_acutecomb,
iota_brevecomb_commaabovecomb_gravecomb,
iota_brevecomb_commareversedabovecomb_acutecomb,
iota_brevecomb_commareversedabovecomb_gravecomb,
iota_dieresiscomb_brevecomb_acutecomb,
iota_dieresiscomb_brevecomb_gravecomb,
iota_dieresiscomb_macroncomb_acutecomb,
iota_dieresiscomb_macroncomb_gravecomb,
iota_macroncomb_commaabovecomb_acutecomb,
iota_macroncomb_commaabovecomb_gravecomb,
iota_macroncomb_commareversedabovecomb_acutecomb,
iota_macroncomb_commareversedabovecomb_gravecomb,
upsilon_brevecomb_commaabovecomb_acutecomb,
upsilon_brevecomb_commaabovecomb_gravecomb,
upsilon_brevecomb_commareversedabovecomb_acutecomb,
upsilon_brevecomb_commareversedabovecomb_gravecomb,
upsilon_dieresiscomb_brevecomb_acutecomb,
upsilon_dieresiscomb_brevecomb_gravecomb,
upsilon_dieresiscomb_macroncomb_acutecomb,
upsilon_dieresiscomb_macroncomb_gravecomb,
upsilon_macroncomb_commaabovecomb_acutecomb,
upsilon_macroncomb_commaabovecomb_gravecomb,
upsilon_macroncomb_commareversedabovecomb_acutecomb,
upsilon_macroncomb_commareversedabovecomb_gravecomb,
Yukrcyr.calt,
Yukrcyr.calt2,
Decyr.locl,
Kacyr.locl,
Elcyr.locl,
becyr.loclSRB,
vecyr.locl,
gecyr.locl,
gecyr.loclSRB,
decyr.locl,
decyr.loclSRB,
zhecyr.locl,
zecyr.locl,
icyr.locl,
ishortcyr.locl,
kacyr.locl,
elcyr.locl,
pecyr.locl,
pecyr.loclSRB,
tecyr.loclSRB,
tecyr.locl,
efcyr.locl,
tsecyr.locl,
shacyr.locl,
shacyr.loclSRB,
shchacyr.locl,
hardcyr.locl,
ylongcyr.locl,
softcyr.locl,
yucyr.locl,
yukrcyr.calt,
yukrcyr.calt2,
igravecyr.locl,
hatafsegol-hb_siluqleft-hb,
hatafpatah-hb_siluqleft-hb,
hatafqamats-hb_siluqleft-hb,
grave-gr.short,
alefdagesh,
aleflamedhatafsegol,
aleflamedsegol,
aleflamedtsere,
alternativelamed,
breveacute,
brevegrave,
brevehook,
brevetilde,
caroncommaaccent,
circumflexacute,
circumflexgrave,
circumflexhook,
circumflextilde,
commaaccentrotate,
dottediacute,
finalkafqamats,
finalkafsheva,
glyph3279,
glyph3280,
lamedholam,
lamedholamdagesh,
hookabove.alt1,
hookabove.alt2,
hookabove.alt3,
hookabove.alt4,
hookabove.alt5,
bari.dotless,
breveacute.lc,
brevegrave.lc,
brevehook.lc,
brevetilde.lc,
circumflexacute.lc,
circumflexgrave.lc,
circumflexhook.lc,
circumflextilde.lc,
cyrillic_otmark,
gjecyr.loclSRB,
)
